/*mobile*/
@media screen and (min-width:300px){	
	.line{
		font-size: 3vw;
		background-color: tomato;
		color: white;
		border-radius: 5px;
		padding: 10%;
		width: 100%;
		margin: 1vh 1vw;
		text-align: center;
		align-self: center;
	}	
	.walk{
		background-color: transparent;
		color: transparent;
	}
}

/*tablet*/
@media screen and (min-width:760px){
	.line{
		font-size: 1.5vw;		
		padding: 3%;
		width: 100%;
	}	
}
/*laptop*/
@media screen and (min-width:1200px){
	
}